:root {
    /* Green */
    --Mint: #5cab7d;
    --green: #5a9367; /*check*/
    --HunterGreen: #44633f;
    --Seagreen: #3f4b3b; /*check*/
    --TeaGreen: #c9e3ac;
    --Pistachio: #90be6d;
  
    /* Light */
    --Cream: #eaefbd;
    --Beige1: #dde2c6;
    --Beige2: #e6eed6;/*check*/
  
    /* Dark */
    --Brown: #37371f;
    --SmokyBlack: #090c02; /*check*/
  
    /* Bright */
    --Orange: #ea9010;
  
    /* Logo fonts */
    --Rye: "Rye", serif;
    --Jaini: "Jaini Purva", system-ui;
    --Cinzel: "Cinzel", serif;
    --Crimson: "Crimson Text", serif;
    --Moda: "Bodoni Moda", serif;
  
    /* other fonts  */
    --Varela: "Varela Round", sans-serif;
    --Libre: "Libre Baskerville", serif;  /*check*/
    --Comf: "Comfortaa", sans-serif;
    --Antic: "Antic", sans-serif;
  }