.collection_present_container {
  width: 100%;
  height: 100vh;
  display: flex;
  margin-top: 70px;
  overflow: hidden;
  & > div {
    width: 50%;
    height: 100%;
  }
  .collection_present_green_field {
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    & > * {
      color: #fff;
    }
    h2 {
      font-size: 2rem;
      margin-bottom: 10px;
    }
    p {
      font-size: 1.5rem;
    }
    .collection_present_smallertext {
      font-size: 1.1rem;
    }
  }
  .collection_present_img_container {
    position: relative;
    overflow: hidden;
  }
  .collection_present_img_container img {
    width: 100%;
    height: 120%;
    object-fit: cover;
    position: absolute;
    top: -200px;
  }
  .collection_present_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    & a {
      font-size: 1.5em;
      color: #fff;
      text-decoration: none;
      padding: 13px;
      border: solid 2px #ffffff;
      border-radius: 7px;
      font-weight: 700;
      text-align: center;
      &:hover {
        animation: shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}

@keyframes shadow {
  0% {
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.523);
  }

  25% {
    box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.523);
  }

  50% {
    box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.523);
  }

  75% {
    box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.523);
  }
  100% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.523);
  }
}
