.product_page_container {
  height: 100vh;
  border: solid 1px red;
  padding-top: 100px;
//   .product_page_content_container {
//     padding-top: 100px;
//     height: 100%;
//     border: solid 1px red;
//   }
}
