.section_footer {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .footer_containers {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    span {
      text-align: center;
    }
  }
}

.social_media_list {
  display: flex;
  list-style: none;
  gap: 10px;
  li a {
    text-decoration: none;
    font-size: 30px;

    &:hover {
      fill: var(--green);
    }
  }
}

.social_icons {
  transition: all ease-in 0.2s;
  position: relative;
  bottom: 0;
  &:hover {
    fill: var(--green);
    bottom: 2.3px;
  }
}

.footer_swiper {
  height: 100%;
  .swiper-button-next,
  .swiper-button-prev {
    color: var(--Seagreen);
  
  }
}
