//global
@import "./global/colors.scss";
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
@import "swiper/scss/scrollbar";
//components
@import "./components/banner.scss";
@import "./components/categories.scss";
@import "./components/collectionpresent.scss";
@import "./components/sliders/homeslider.scss";

// common
@import "./common/nav/navigation.scss";
@import "./common/footer/foooter.scss";

//media
@import "./mediascreen.scss";

html {
  scroll-behavior: smooth; /* scrolinimo metodas visam metodui arba navigaicijai.*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--Libre);
  color: var(--SmokyBlack);
}

//style start

body {
  position: relative;
  background-color: var(--Beige2);
  overflow-y: overlay; /* Keeps the scrollbar on top of content */
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--Seagreen);
  border-radius: 5px;
}
