//global
@import "./global/colors.scss";

//components
@import "./components/banner.scss";
@import "./components/categories.scss";

// common
@import "./common/nav/navigation.scss";

//media
@import "./mediascreen.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--Libre);
  color: var(--SmokyBlack);
}

//style start
body {
  position: relative;
  background-color: var(--Beige2);
  overflow-y: hidden;
  overflow-x: hidden;
  // scrollbar-width: none;
  // overflow-y: hidden;
}

// body::-webkit-scrollbar {
//   width: 8px;
// }

// body::-webkit-scrollbar-track {
//   background: transparent;
// }

// body::-webkit-scrollbar-thumb {
//   background-color: var(--green);
//   // border-radius: 10px;
//   // border: 2px solid #171717;
// }


body {
  position: relative;
  background-color: var(--Beige2);
  overflow-y: overlay; /* Keeps the scrollbar on top of content */
  overflow-x: hidden;
}

/* Customize scrollbar width */
body::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

/* Scrollbar track (transparent) */
body::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar thumb (visible part of scrollbar) */
body::-webkit-scrollbar-thumb {
  background-color: var(--HunterGreen); /* Color for thumb */
  border-radius: 10px; /* Rounded scrollbar thumb */
}


// .content_width {
//   width: 100vw;
//   height: 100vh;
//   position: absolute;
//   overflow-y: scroll;

// }

// .content_width::-webkit-scrollbar {
//   width: 8px;
// }

// .content_width::-webkit-scrollbar-track {
//   background: transparent;
// }

// .content_width::-webkit-scrollbar-thumb {
//   background-color: var(--green);
//   border-radius: 10px;
// }
