//global
@import "./global/colors.scss";

//components
@import "./components/banner.scss";
@import "./components/categories.scss";

// common
@import "./common/nav/navigation.scss";

//media
@import "./mediascreen.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--Libre);
  color: var(--SmokyBlack);
}

//style start
body {
  position: relative;
  background-color: var(--Beige2);
  overflow-y: hidden;
  overflow-x: hidden;
  // scrollbar-width: none;
  // overflow-y: hidden;
}

// body::-webkit-scrollbar {
//   width: 8px;
// }

// body::-webkit-scrollbar-track {
//   background: transparent;
// }

// body::-webkit-scrollbar-thumb {
//   background-color: var(--green);
//   // border-radius: 10px;
//   // border: 2px solid #171717;
// }

body {
  position: relative;
  background-color: var(--Beige2);
  overflow-y: overlay; /* Keeps the scrollbar on top of content */
  overflow-x: hidden;
}


body::-webkit-scrollbar {
  width: 8px; 
}



body::-webkit-scrollbar-thumb {
  background-color: var(--Seagreen); 
  border-radius: 5px; 
}



