//Media start banner
@media screen and (max-width: 1450px) {
  .banner {
    .bannertextCont {
      justify-content: center;

      .bannertext {
        width: 100%;
        height: 100%;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  #home_products_slider_container {
    .home_products_swiper {
      width: 100%;
    }
  }

  nav {
    justify-content: space-between;
    align-items: center;
    .bar {
      display: block;
    }
    .NavUl {
      display: none;
    }
    .logo {
      margin: 0 20px;
      height: auto;
    }
  }
  .banner {
    .bannertextCont {
      .bannertext {
        height: 80%;
        .smalltextbanner {
          font-size: 20px;
        }
        .textSpanCont {
          font-size: 2rem;
        }
        .bigtextbanner {
          font-size: 7vw;
        }
      }
    }
  }
  .collection_present_container {
    flex-direction: column;
    height: auto;
    .collection_present_green_field {
      height: 350px;
    }
    .collection_present_img_container {

      height: 700px;
      img {
        object-fit: cover;
        height: 120%;
        width: 100%;
        // top: -170px;
      }
    }
  }
  .collection_present_container > div {
    width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .banner {
    height: 60vh;
    .video {
      height: 60vh;
      iframe {
        scale: 2.4;
      }
    }
    .bannertextCont {
      .bannertext {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        font-size: 9vw;
        .bigtextbanner {
          font-size: 40px;

          margin: 0;
        }
        .smalltextbanner {
          margin: 0;
        }
      }
    }
  }
  .collection_present_container {
    .collection_present_green_field {
      height: 500px;
      padding: 10px;
    }
    .collection_present_img_container {
      img {
        top: -250px;
      }
    }
  }
}

// @media (max-width: 480px) {

// }

// @media (min-width: 320px) {
//   .banner {
//     .video {
//       iframe {
//         scale: 2.4;
//       }
//     }
//   }
// }
