//Media start banner
@media screen and (max-width: 1450px) {
  .banner {
    .bannertextCont {
      justify-content: center;

      .bannertext {
        width: 100%;
        height: 100%;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  nav {
    justify-content: space-between;
    align-items: center;
    .bar {
      display: block;
    }
    .NavUl {
      display: none;
    }
    .logo {
      margin: 0 20px;
      height: auto;
    }
  }
  .banner {
    .bannertextCont {
      .bannertext {
        height: 80%;
        .smalltextbanner {
          font-size: 20px;
        }
        .textSpanCont {
          font-size: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .banner {
    height: 60vh;
    .video {
      height: 60vh;
      iframe {
        scale: 2.4;
      }
    }
    .bannertextCont {
      .bannertext {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        font-size: 9vw;
        .bigtextbanner {
          font-size: 14vw;
        }
        .smalltextbanner {
          margin: 0;
        }
      }
    }
  }
}



// @media (min-width: 320px) {
//   .banner {
//     .video {
//       iframe {
//         scale: 2.4;
//       }
//     }
//   }
// }
